.ParachuteCR {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    border-radius: 5%;
    width: 100%;

}

.switchBtn {
    padding: 4%;
    position: relative;
    width: 75%;
    border-radius: 5%;
    font-size: 1rem;
    border: unset;
    cursor: pointer;
    background-color: #00CC66;
    color: #000000;
    outline: unset;
    font-weight: 600;
    margin-top: 5%;
}

.switchBtn:hover {
    background-color: #00E673;
}

.parachuteStatus {
    font-weight: 500 !important;
    font-size: 92%;
    color: lightslategray;
}