.ParachuteCR{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    border-radius: 5%;
    width: 100%;

}

.switchBtn{
    padding: 5%;
    position: relative;
    width: 90%;
    border-radius: 5%;
    font-size: 1rem;
    border: unset;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    outline: unset;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 5%;
}

.switchBtn:hover{
    background-color: blue;
}

.parachuteStatus{
    font-weight: 400 !important;
    font-size: medium;
    text-transform: uppercase;
}