.ParachuteCR {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    border-radius: 5%;
    width: 100%;

}

.switchBtn {
    padding: 4%;
    position: relative;
    width: 85%;
    border-radius: 5%;
    font-size: 1rem;
    border: unset;
    cursor: pointer;
    background-color: #1677ff;
    color: white;
    outline: unset;
    font-weight: 600;
    margin-top: 5%;
}

.switchBtn:hover {
    background-color: #3688ff;
}

.parachuteStatus {
    font-weight: 500 !important;
    font-size: 92%;
    color: lightslategray;
}