.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6%;
    width: 100%;
    padding: 1%;
    padding-left: 2%;
}

.HeaderWrapper{
    display: flex;
    gap: 1%;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5%;
    padding: .3%;
    height: 100%;
}