

.Header{
    display: flex;
    padding: 1rem;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.menuButton:hover{
    color: rgb(0,250,150) !important;
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .2rem;
    border-radius: 5px;
    background-color: rgb(100,100,100);
}