.Mfm{
    padding: .5vw;
    border-radius: 5%;
    display: flex;
    width: 98%;
    overflow: hidden;
    justify-content: center;
    gap: 1%;
}

.Mfm>select{
    border-radius: 20%;
    outline: unset;
    cursor: pointer;
}



.Mfm Button{
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 70%;
}