
.Mfm{
    padding: .4rem;
    display: flex;
    gap: .2rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.Selector{
    padding: .3rem;
    outline: unset;
    cursor: pointer;
    
}