.Camera{
    width: 480px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(30,60,60);
    align-self: center;
}

.CameraWithBorder{
    border: 1px solid rgb(100,100,100);
}

