
@font-face {
    font-family: digital;
    src: url('../fonts/digital-7-font/Digital7-rg1mL.ttf');
}

.Clock{
    display: flex;
    padding: .5rem;
    width: fit-content;
    justify-content: center;
    align-items: center;
    // border: 1px solid white;
    border-radius: 3px;
    background-color: #111a2c;
}


.time{
    font-family: digital;
    color: white;
    font-size: 1.5r+em;
}