.SatStatus{
    padding: .5rem;
    width: 98%;
    height: 8%;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue !important;
    border: unset !important;
}

.SatStatus>span{
    color: white;
    font-weight: 600;
}