@font-face {
    font-family: digital;
    src: url('../../fonts/digital-display-font/DigitalDisplayRegular-ODEO.ttf');
}

.Glitch{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .3;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
}

.glitcher{
    position: relative;
    z-index: -1;
}

h3{
    position: absolute;
    z-index: 1;
    background-color: unset;
    color: white;
    font-family: digital;
}