@font-face {
    font-family: digital;
    src: url('../fonts/digital-7-font/Digital7-rg1mL.ttf');
}

.Timer{
    background-color: rgb(50,50,50);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    overflow: hidden;
    font-size: 160%;
    width: 60% !important;
}

.Timer > span{
    font-family: digital;
}