.MenuToggler{
    padding: .5rem;
    display: flex;
    width: 3.2em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: .2rem;
    border-width: .15rem !important;
    cursor: pointer;
}



.Icon:hover{
    color: red !important;
}