.Terminal{
    width: 100%;
    overflow-y: scroll;
    border-radius: .3rem;
    font-size: 80%;
    cursor: pointer;
}

th{
    padding: .5rem;
}

// tr:nth-child(even) {
//     background-color: rgba(150, 212, 212, 0.4);
//   }
  
//   th:nth-child(even),td:nth-child(even) {
//     background-color: rgba(150, 212, 212, 0.4);
//   }