.Terminal {
    width: 100%;
    overflow-y: scroll;
    border-radius: .3rem;
    font-size: 80%;
    cursor: pointer;
    position: relative;
    margin-top: .25%;

    table {
        width: 100%;
        border-collapse: collapse;
    }

    .TableHeader {
        position: sticky;
        top: 0;
        background: inherit;
        z-index: 1;

        th {
            padding: .5rem;
            background: #fff; // Or use your theme background color
            text-align: center;
        }
    }

    .TableBody {
        td {
            text-align: center;
            padding: .5rem;
        }
    }
}
