

.Ias{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: .2rem;
    padding: .5rem;
    border-radius: 5px;
}

.bit{
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bitNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bitError{
    background-color: green;
}
.bitSuccess{
    background-color: red;
}