@font-face {
    font-family: terminal;
    src: url('../fonts/modeseven-font/Modeseven-L3n5.ttf');
}

.SystemInfo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    height: 5%;
    padding: 2rem;
}

.SystemInfo > span{
    font-family: terminal;
}