.IoTManager{
    padding: 1%;
    border-radius: .3rem;
    display: flex;
    height: 18%;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    width: 98%;
}

