@font-face {
    font-family: terminal;
    src: url('../fonts/modeseven-font/Modeseven-L3n5.ttf');
}

.Terminal{
    font-family: terminal;
    box-shadow: 1px 1px 5px 1px rgb(20,20,20);
    cursor: pointer;
}


.TerminalFull{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  height: 70%;
}

.TerminalPreview{
    background-color: purple;
    width: 46rem;
    height: 10rem;
    grid-column: 1/4;
    border-radius: 5px;
    overflow: scroll;
}



.tpDataPacket{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: .5rem;
    border-bottom: 1px gray dashed;
    padding: 1rem;
}

.tpDataPacket >span{
    font-family: terminal;
}




/* Width, height, and color of the scrollbar track */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
