.DataController{
    display: flex;
    padding: .3%;
    overflow: hidden;
    border-radius: .3rem;
    width: 25%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.baseButton{
    color: white;
    outline: none;
    border: unset;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.startButton{
    background-color: green;
    @extend .baseButton;
    
}
.stopButton{
    background-color: red;
    @extend .baseButton;
}