.MapWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 2%;
    cursor: pointer;
    grid-row: 2/2;
    grid-column: 1/1;
    z-index: 0;
    position: relative;
}

.NoDataText {
    color: #c0ffff;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.NoDataText {
    animation: blink 1s linear infinite;
}

.zoomButton {
    width: 10%;
    height: 15%;
    border: 1px solid white;
    padding: 1%;
    margin: 3%;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}