

.Flight{
    padding: 1rem;
    width: 100vw;
    height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: flex-start;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    gap: 2rem;
}

.flightWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    gap: .5rem;
}

// .realInfo{
//     display: flex;
//     gap: 1rem;
// }