.MainContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.Flight{
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
 
    align-items: start;
    justify-content: center;
    overflow: hidden;
    gap: 2rem;
}

.flightWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    gap: .5rem;
}

.realInfo{
    display: flex;
    gap: 1rem;
}

.controller{
    display: flex;
    gap: 1rem;
}