.Chart{
    display: flex;
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.ZoomChart{
    width: 30rem;
    height: 30rem;
    z-index: 1;
    position: absolute;
    justify-content: center;
    background-color: black;
}