.Chart {
    display: flex;
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgb(100,100,100);
}


.ZoomChart {
    width: 35rem;
    height: 35rem;
    z-index: 2;
    position: relative;
    justify-content: center;
    justify-self: center;
    align-self: center;
    bottom: 4rem;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    justify-self: center;
    align-self: center;
}