.Chart{
    display: flex;
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.Chart:hover{
    border: 1px solid white;
}

.ZoomChart{
    width: 45rem;
    height: 45rem;
    z-index: 1;
    position: absolute;
    justify-content: center;
    background-color: black;
    justify-self: center;
    align-self: center;
}